:root {
    --space-smaller: 4px;
    --space-small: 8px;
    --space-medium: 16px;
    --space-big: 24px;
    --space-bigger: 48px;
    --color-light-yellow: #FBFAE8;
    --color-black: #3C3838;
    --color-red: #8E3C29;
}